@model List<SportsEventManagement.ViewModels.MyEventViewModel>

<h1 class="text-center">Moje wydarzenia drużynowe</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nazwa wydarzenia</th>
            <th>Data</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model)
        {
            <tr>
                <td>@ev.EventName</td>
                <td>@ev.EventDate.ToString("dd-MM-yyyy")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@ev.EventId" class="btn btn-info">Szczegóły</a>
                </td>
            </tr>
        }
    </tbody>
</table>
